body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
	color: #0E0E0E;
	padding: 0px;
	text-align: center;
}

p{
	text-align:justify;
	padding: 5px;
}

hr {
	display: block;
	margin-top: 8px;
	border-style: inset;
	border-width: 1px;
}

h1, h2 {
	color: #EB6160;
	padding: 0px;
	margin: 5px;
}

h2 {
font-size: 17px;
}

#fejlec {
	padding: 10px;
	background-color: #EB6160;
	font-weight: normal;
	font-size:30px;
	color: white;
	text-align: right;


}
#fejlec h1{
color: white;
}

#tartalom {
	margin: 0 auto;
	padding: 0px;
	text-align: left;
	width: 1000px;
	background-color: #fff;
}

#oszlop1, #oszlop3 {

	float: left;
	padding: 0px;
	background-color: #ffffff;
	width: 220px;
}

#oszlop2{
	width: 560px;
	float: left;
	padding: 0px;
	background-color: #ffffff;
}

#lablec {
    clear: both;
    background-color: #ffffff;
	text-align: left;
	margin: 0 auto;
	width: 1000px;
}

.kep {
	padding: 0px 0px;
	border: none;
	width: 190px;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
}

.kepalairas{
text-align: center;
font-size: 9px;
word-break: break-word;
width: 76px;
margin: auto;
}

.szurke{
	color: #c7c7c7;
}

a:link, a:active, a:visited, a:hover {
color: #0E0E0E;
}
hr{width: 50%;}
